@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>www.raysa.pe</title>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicon-32x32.png")" sizes="32x32">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicon-16x16.png")" sizes="16x16">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#27ae60">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/vendor.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/elephant.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/login-2.min.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/StyleSheet.css")" />
</head>
<body>

    <div class="login">
        <div class="login-body">
            <a class="login-brand" href="javascript:void(0)">
                <img class="img-responsive" src="~/Content/img/logo.svg" alt="Elephant">
            </a>
            <div class="login-form">
                <form data-toggle="validator" method="post">
                    <div class="form-group">
                        <label for="txtemail">Correo</label>
                        <input type="text" id="txtemail" class="form-control" name="txtemail" spellcheck="false" autocomplete="off"
                               data-msg-minlength="Requerido mínimo 4 caracteres" data-msg-required="Ingrese Usuario" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="txtpassword" class="form-control" name="txtpassword" minlength="4"
                               data-msg-minlength="Requerido mínimo 4 caracteres" data-msg-required="Ingrese Contraseña" required />
                    </div>
                    <div id="diverror" class="form-group" style="display:none">
                    </div>
                    <button type="submit" id="btn_validar" name="btn_validar" class="btn btn-primary btn-block">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/vendor.min.js"></script>
    <script type="text/javascript" src="~/Scripts/elephant.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Utils.js")"></script>
    <script type="text/javascript">
        var PAGE_URL = "@Url.Content("~/Login")";
        window.onload = function () {
            document.getElementById("diverror").style.display = "none";
            document.getElementById("btn_validar").addEventListener("click", function (e) {
                e.preventDefault();
                var u = document.getElementById("txtemail");
                var p = document.getElementById("txtpassword");
                var flag = true;
                u.classList.remove("error");
                p.classList.remove("error");
                if (u.value.length == 0 || u.value.trim().length==0) {
                    flag = false;
                    u.className += " error";
                }
                if (p.value.length == 0 || p.value.trim().length == 0) {
                    flag = false;
                    p.className += " error";
                }
                if (flag)
                    ValidarUsuario();
            }, false);
        };
        function ValidarUsuario() {
            var urlAction = PAGE_URL + "/ValidarUsuarioSistema";
            var u = document.getElementById("txtemail").value.trim();
            var p = document.getElementById("txtpassword").value.trim();
            var Param = JSON.stringify({ u: u, pw: p });
            ajax(urlAction, "post", "json", function (response) {
                if (response != "") {
                    if (response.d.Error == 0) {
                        window.document.location.href = "@Url.Content("~/Home/Index")";
                    } else {
                        document.getElementById("diverror").style.display = "flex";
                        document.getElementById("diverror").className += " error";
                        document.getElementById("diverror").innerHTML = response.d.Mensaje;
                        setTimeout(function () {
                            document.getElementById("diverror").style.display = "none";
                        }, 1500);
                    }
                }
            }, Param);
        }

    </script>
</body>
</html>